.button {
  padding: 10px 17px 10px;
  text-decoration: none;
  border-radius: 1px;
  white-space: none;
}

.button.t-outline {
  border: 2px solid rgb($primary);
  overflow-y: hidden;
  position: relative;

  .button-text-first {
    color: rgb($dark);
    transition: transform 0.3s;
  }

  .button-text {
    position: absolute;
    top: 10px;
    color: rgb($light);
    transform: translateY(150%);
    transition: transform 0.5s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb($primary);
    transform: translateY(100%);
    transition: transform 0.3s 0.1s;
  }

  &:hover {
    .button-text-first {
      transform: translateY(-150%);
    }
    &::before {
      transform: translateY(0);
    }

    .button-text {
      transform: translateY(0);
    }
  }
}

.button.t-small {
  font-size: 16px;
  padding: 10px 10px 6px;

  &.is-active {
    background: rgb($primary);
    color: rgb($light);
  }

  &:hover {
    background: rgb($light);
    color: rgb($dark);
  }
}

.button.t-icon {
  width: 100%;
  border: 2px solid rgb($primary);
  color: rgb($primary);
  font-size: 16px;
  position: relative;
  padding: 15px 20px 10px;
  transition: box-shadow 0.3s;
  text-transform: capitalize;
  cursor: pointer;

  .button-icon {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 17px;
    right: 10px;
    transition: scale 0.3s;

    #path {
      fill: rgb($primary);
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 1px rgb($primary),
      0px 0px 4px 1px rgba($primary, 0.3);
  }

  &:hover .button-icon {
    scale: 1.2;
    transition: scale 0.3s 0.1s;
  }
}
