.code-container {
  display: flex;
  flex-direction: row;
}

.code-submit {
  background: $primary;
  height: 40px;
  width: 40px;
  border: none;
  transition: scale 0.3s;

  img {
    height: 16px;
    width: 19px;
  }

  &:hover {
    scale: 1.08;
  }
}
