.footer-link-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
}

.footer-link {
  color: rgb($dark);
  position: relative;
  font-size: 19px;
  text-decoration: none;
  transition: 0.3s;
  border-bottom: 1px solid rgba($primary, 0);

  &::before {
    @include hover-line(rgb($primary));
    transform-origin: right;
  }

  &:hover::before {
    @include hover-line-action();
  }

  &:hover {
    color: rgb($primary);
  }
}
