.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

@media (max-width: 991px) {
  .logo-container {
    width: 300px;
    .logo-title {
      font-size: 30px;
    }

    .logo-subtitle {
      font-size: 11px;
      line-height: 10px;
    }
  }
}
.logo-title {
  color: $primary;
  font-size: 50px;
}

.logo-subtitle {
  width: 235px;
  font-size: 15px;
  line-height: 15px;
}
