.section-title {
  font-size: 28px;
  text-transform: uppercase;
  color: rgb($dark);
  margin-bottom: 15px;
  position: relative;
}

.section-verbe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.section-verbe-title,
.section-option-label {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}

.section-verbe-title {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &.t-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px;
  }
}

.section-print-container {
  padding-top: 10px;
  flex-direction: column;
  gap: 15px;
  padding-left: 10px;
  font-size: 16px;
  display: flex;
  position: relative;
  overflow-x: hidden;

  &.is-active * {
    transform: translateY(0);
    opacity: 1;
  }

  & * {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
  }
}

.section-select-container {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.section-title-container,
.section-option-container,
.section-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.section-action {
  font-size: 12px;
  border-bottom: 1px solid rgba($dark, 0);
  position: relative;
  cursor: pointer;

  &::before {
    @include hover-line(rgb($dark));
  }

  &:hover::before {
    @include hover-line-action();
  }
}

.section-action-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}
