.section-title {
  font-size: 28px;
  text-transform: uppercase;
  color: $dark;
  margin-bottom: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &.t-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px;
  }
}

.section-select-container {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.section-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.section-action {
  font-size: 12px;
  border-bottom: 1px solid rgba($dark, 0);
  position: relative;
  overflow-x: hidden;
  cursor: pointer;

  .section-action-line {
    @include hover-line();
    background: $dark;
  }

  &:hover .section-action-line {
    @include hover-line-action();
  }
}

.section-action-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}
