.l-header {
  border-bottom: 1px solid rgb($dark);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb($light);
  z-index: 5;
}

.l-footer {
  border-top: 1px solid rgb($dark);
  padding: 30px 0 43px;
}

.l-main {
  padding: 115px 0 0;
}
