@mixin hover-line($color) {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
  background: $color;
  transform-origin: left;
}

@mixin hover-line-action() {
  transform: scaleX(100%);
}
